@tailwind base;
@tailwind components;
@tailwind utilities;

html {scrollbar-color: #f87171 #e5e7eb ;} 

@layer components {
  .myContainer{
    @apply px-[20px] mx-auto md:px-[40px]
  }
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }
  .no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

